extends layout

block head

block content
    .container
        .content
            .row
                .jumbotron
                    .row
                        .col-md-6
                            img.center-block.homelogo(src='/images/logo/logofull.png')
                        .col-md-6
                            h2.text-center.text-dark Sua loja de Magic, RPG e mais!
            
            .row
                .col-md-5
                    h1.text-center Acesse sua conta
                    
                    .text-justify
                        ul
                            br
                            li
                                p
                                | Acessar a 
                                strong &copy; MagicStore 
                                | através de sua conta permitirá que personalizemos
                                | sua experiência. Isso inclui sugestões de cartas baseado em decks, compras,
                                | visitas e outras informações relacionadas às suas interações com o nosso portal.
                            br
                            li
                                p
                                | Caso não tenha uma conta ainda, registre-se. É fácil, rápido e só te dá vantagens.
                                | Só pra contrariar o pessoal do Marketing, prometemos que não vamos te enviar spams,
                                | apenas o e-mail de confirmação.
                            br
                            li
                                p
                                | Prometemos também que iremos nos esforçar ao máximo para proteger sua privacidade.
                                br
                                br
                                | (:
                .col-md-2
                .col-md-5
                    .panel-dark
                        ul#myTab.nav.nav-tabs.nav-tabs-theme-dark
                            li.active
                              a(href='#profile', data-toggle='tab')
                                h3 Minha Conta
                            li
                              a(href='#messages', data-toggle='tab')
                                h3 Registrar
                    .tab-content
                        #profile.tab-pane.active
                            .panel-body.panel-dark
                                form.form
                                    .form-group
                                        input.form-control.input-lg(type='text', placeholder='E-mail')
                                    .form-group
                                        input.form-control.input-lg(type='password', placeholder='Senha')
                                    br
                                    br
                                    br
                                    .form-group
                                        button.btn.btn-success.btn-lg.btn-block
                                            strong Entrar
                                            
                        #messages.tab-pane
                            .panel-body.panel-dark
                                form.form
                                    .form-group
                                        input.form-control.input-lg(type='text', placeholder='E-mail')
                                    .form-group
                                        input.form-control.input-lg(type='password', placeholder='Senha')
                                    .form-group
                                        input.form-control.input-lg(type='password', placeholder='Confirmar Senha')
                                    .form-group
                                        button.btn.btn-success.btn-lg.btn-block 
                                            strong Registrar

            //.row
                //.col-md-1
                .col-md-5
                    .panel.panel-default.panel-dark
                        .panel-heading-dark
                            .panel-title
                                //i.glyphicon.glyphicon-chevron-right
                                h3.text-center Minha Conta
                        .panel-body
                            //form.form.form-vertical
                            form.form
                                .form-group
                                    input.form-control.input-lg(type='text', placeholder='E-mail')
                                .form-group
                                    input.form-control.input-lg(type='password', placeholder='Senha')
                                br
                                br
                                br
                                .form-group
                                    button.btn.btn-success.btn-lg.btn-block
                                        strong Entrar
                                    //span.pull-right
                                      a.nav(href='#') Registrar
                                    //span
                                      a.nav(href='#') Ajuda?
                .col-md-2
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    h1.text-center.text-dark ou
                .col-md-5
                    .panel.panel-default.panel-dark
                        .panel-heading-dark
                            .panel-title
                                //i.glyphicon.glyphicon-chevron-right
                                h3.text-center Registrar
                        .panel-body
                            //form.form.form-vertical
                            form.form
                                .form-group
                                    input.form-control.input-lg(type='text', placeholder='E-mail')
                                .form-group
                                    input.form-control.input-lg(type='password', placeholder='Senha')
                                .form-group
                                    input.form-control.input-lg(type='password', placeholder='Confirmar Senha')
                                .form-group
                                    button.btn.btn-success.btn-lg.btn-block 
                                        strong Registrar
                                    //span.pull-right
                                      a.nav(href='#') Registrar
                                    //span
                                      a.nav(href='#') Ajuda?
                //.col-md-1
                
block foot
    