/* admin bootstrap template */
.navbar-static-top {
  margin-bottom:20px;
  min-height: 60px;
}

i {
  font-size:16px;
}

ul.navbar-nav {
  margin-top: 5px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}


/* store customization */
body {
    background-color: #101010;
    color: #CCCCCC;
}

.text-justify {
    text-align: justify;
}

.text-dark {
    color: #333333;
}

a.nav {
    color: #DDDDDD;
}

a:hover.nav {
    color: #333333;
    text-decoration: none;
}

.content {
    min-height: 600px;
}

.logo {
    max-height: 50px;
    width: auto;
    margin-top: 5px;
}

.homelogo {
    max-height: 100px;
    width: auto;
}

.panel-dark {
    background-color: #222222;
}

.nav-tabs-theme-dark {
    background-color: #101010;
    border-color: #222222;
}

.nav-tabs-theme-dark > li.active > a {
    background-color: #222222;
    border-color: #222222;
    
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    
    color: #DDDDDD;
}

.nav-tabs-theme-dark > li.active > a:hover {
    background-color: #222222;
    border-color: #222222;
    
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    
    color: #FFFFFF;
}

.nav-tabs-theme-dark > li > a {
    background-color: #101010;
    border-bottom-color: #222222;
    color: #AAAAAA;
}

.nav-tabs-theme-dark > li > a:hover {
    background-color: #444444;
    border-color: #222222;
    color: #AAAAAA;
}